<div class="header">
  <h1><%=@merchant.name%> discount list</h1><br>
  <%= button_to "Create Discount", new_merchant_discount_path(@merchant.id), method: :get %>
</div>
<table class="discount_list">
  <thead>
    <tr>
      <th scope="col">Discount ID</th>
      <th scope="col">Percentage</th>
      <th scope="col">Threshold</th>
    </tr>
  </thead>
  <tbody>
    <% @merchant.discounts.each do |discount| %>
      <tr id="discount_<%= discount.id %>">
        <td><%= link_to "ID##{discount.id}", merchant_discount_path(@merchant.id, discount.id) %></td>
        <td><%= "#{(discount.percent * 100).to_i}%" %></td>
        <td><%= discount.threshold %></td>
      </tr>
    <%end%>
  </tbody>
</table>

<div class="holidays">
  <h4>Upcoming Holidays</h4>
  <ul>
    <% @next_three.each do |holiday| %>
      <li><%= "#{holiday[:localName]}, #{holiday[:date]}" %></li>
    <% end %>
  </ul>
</div>
